<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="HibernateSessionFactory">
       <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <!-- 数据库连接设置 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">dbo</property>
        <!-- <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/hzml2_web</property> -->
        <!-- OCC现场数据库连接设置 -->
        <property name="hibernate.connection.url">jdbc:mysql://10.17.70.3:3306/hzml2_web</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">gbk</property>
        <property name="hibernate.connection.username">dbo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- <property name="hibernate.search.autoregister_listeners">false</property> -->
        <!-- show_sql 生成SQL语句  格式化 注解-->
	    <property name="show_sql">true</property>
   <!-- <property name="format_sql">true</property>
	    <property name="use_sql_comments">true</property> -->
        <!--添加实体类的映射文件 -->
        <mapping resource="com/web/model/User.hbm.xml" />
    </session-factory>
</hibernate-configuration>
